.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    &:hover{
        background-color: #f7f7f7;
    }
    
    &__info > h2{
        font-size: 16px;
        margin-bottom: 8px;
    }
    
    &__info > p{
        font-size: 20px;
        margin: 10px auto;
    }
    
    &__info{
        margin-left: 15px;
    }
}


.addSidebarChat{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-bottom:1px solid #f7f7f7;
    position: relative;

    &__subContainer{
        margin:10px 20px 20px;
        flex-direction: column;
        display: flex;
        justify-content: center;
    }
    &__progressBar{
        margin-top: 10px;
        position: absolute; 
        bottom: 0;
        background-color: #0a11eb;
        display: flex;
        justify-content: center;
        height: 5px;
    }
    &__Input{
        display: flex;
        align-items: center;
        background-color: white;
        height: 35px;
        border-radius: 20px;
        background-color: #f7f7f7;
        margin-top: 10px;
        .MuiSvgIcon-root{
            padding: 10px;
        }
        input{
            border: none;
            outline: none;
            display: flex;
            flex:0.8;
            background-color: #f7f7f7;
        }
    }

    &__btn{
        display: flex;
        justify-content: flex-end;
        margin-top: 10px;
        align-items: center;
    }
    &__Preview{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    &__error{
        font-size: 12px;
        position: absolute;
        color: red;
    }

    button{
        cursor: pointer;
        border-radius: 30px;
        border: none;
        padding: 5px 10px;
        font-weight: 600;
        transition: 0.2s ease-in all;
        border:2px solid  #000;
        background-color: #000;
        color: #fff;
        &:hover{
            border:2px solid  black;
            background-color:#fff;
            color: black;
        }
    
    }
    .addSidebarChat__File{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 10px;
        button{
            cursor: pointer;
            border-radius: 30px;
            border: none;
            padding: 5px 10px;
            color: black;
            font-weight: 600;
            background-color:#fff;
            transition: 0.2s ease-in all;
            border:2px solid  black;
            &:hover{
                border:2px solid  #0a11eb;
                // background-color: #000;
                color: black;
            }
        }
        
    }
    .sidebarChat__img{
        border: 2px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    }

}