.sidebar{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 35vw;
    position: relative;
    z-index: 1;
    -webkit-box-shadow: -10px 0px 20px 2px rgba(57, 57, 57, 0.12);
    -moz-box-shadow: -10px 0px 20px 2px rgba(57, 57, 57, 0.12);
    box-shadow: -10px 0px 20px 2px rgba(57, 57, 57, 0.12);


}

.sidebar__header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    align-items: center;
    border-bottom:1px solid #f7f7f7;
    &Avatar{
        border: 2px solid #0a11eb;
        border-radius: 50%;
    }
    p{
        width: 40%;
        min-width: 150px;
        font-weight: 500;
        color: #000;
        span{
            color: #0a11eb;
        }
    }
    
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
    .MuiButtonBase-root{
    position: relative;
        .headerRight__more{
            background-color: #fff;
            position: absolute;
            top:35px;
            right:17px;
            ul{
                list-style: none;
                padding: 0;
                margin: 0;
                -webkit-box-shadow: -10px 6px 16px 2px rgba(57, 57, 57, 0.12);
                -moz-box-shadow: -10px 6px 16px 2px rgba(57, 57, 57, 0.12);
                box-shadow: -10px 6px 16px 2px rgba(57, 57, 57, 0.12);
                li{
                    transition: 0.2s all ease-in !important;
                    padding: 10px 15px;
                    font-size: 15px;
                    border-bottom: 1px solid #f6f6f6;
                }
                li:hover{
                    background-color:#f6f6f6;
                }
            }
        }
        
    }
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #fff;
    height: 39px;
    padding: 10px;
    border-bottom:1px solid #f7f7f7;
    &Container{
        display: flex;
        align-items: center;
        background-color: white;
        width: 100%;
        height: 35px;
        border-radius: 20px;
        background-color: #f7f7f7;
        .MuiSvgIcon-root{
            padding: 10px;
        }
        input{
            border: none;
            outline: none;
            display: flex;
            flex:1;
            background-color: #f7f7f7;
        }
    }

}


.sidebar__headerRight button svg{
    color: black;
}

.sidebar__chats{
    flex: 1;
    background: #fff;
    overflow: scroll;
}

a{
    text-decoration: none !important;
    color: black;
}

@media screen and (max-width: 600px){
    .sidebar{
        width: 100%;
        min-width: unset !important;
    }
    .sidebar__chats{
        display: flex;
        flex-direction: row;
    }
    .sidebarChat__info{
        display: none;
    }
    .sidebar__header p{
        margin-left: 10px;
        min-width: unset !important;
    } 
}