*{
    margin: 0;
  }
  
  body {
    background: #fff9f2;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  
  .app{
    display: grid;
    place-items: center;
    height: 100vh;
    // background-color: #fff;

  }
  
  .app__body{

    display: flex;
    background-color: transparent;
    height: 90vh;
    width: auto;
    position: relative !important;
  }

  @media only screen and (max-width: 800px){
    .app__body{
      height: 100vh;
    }
  }

  @media only screen and (max-width: 600px){
    .app__body{
      flex-direction: column;
      background-color: #fff;
    }
    body{
      background-color: #fff;
    }
  }
  
